<h1>Article Summary Page</h1>

<% @summary_articles.each do |category, articles| %>
    <p><span class="category_label">Category: </span> <span class="category_name"><%= category %></span></p>

    <table class="table table-striped table-bordered indented_table"
           id="<%= category %>_table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <% if logged_in?(:user) %>
            <th>Operations</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
            </td>
            <td>
              <%= article.content %>
            </td>

            <% if logged_in?(:user) %>
                <td align="center">
                  <a href='<%= article_path(article.id) %> 'title='Show Article'>
                    <i class='glyphicon glyphicon-eye-open'></i>
                  </a>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>
<% end %>


