<h1>User Manager</h1>

<% if logged_in?(:admin) %>
    <a href='<%= new_user_path %> 'title='Create User'>
      <i class='glyphicon glyphicon-plus'><strong> Create</strong></i>
    </a>
<% end %>

<br/><br/>
<div class=" col-md-6">
<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-8">Email</th>
    <th colspan="3">Operations</th>
  </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>

        <td align="center">
          <a href='<%= user_path(user) %> 'title='Show User'>
            <i class='glyphicon glyphicon-eye-open'></i>
          </a>
        </td>
        <td align="center">
          <a href='<%= edit_user_path(user) %> 'title='Edit User'>
            <i class='glyphicon glyphicon-wrench'></i>
          </a>
        <td align="center">
          <a href='<%= user %>' data-method='delete'
             data-confirm="You sure you want to delete this User?"
             title='Delete User'>
            <i class='glyphicon glyphicon-trash'></i>
          </a>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

</div>